@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.back-home {
  background: url("/img/back-home.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-ouss {
  background: url("/img/back-ouss.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-yomi {
  background: url("/img/back-yomi.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-antoine {
  background: url("/img/back-antoine.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-gabin {
  background: url("/img/back-gabin.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-picasso {
  background: url("/img/back-picasso.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-elon {
  background: url("/img/back-elon.png") center;
  background-size: cover;
  background-repeat: no-repeat;
}

.parchment-ouss {
  background: url("/img/parchment-ouss.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.parchment-yomi {
  background: url("/img/parchment-yomi.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.parchment-antoine {
  background: url("/img/parchment-antoine.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.parchment-gabin {
  background: url("/img/parchment-gabin.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.parchment-picasso {
  background: url("/img/parchment-picasso.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.parchment-elon {
  background: url("/img/parchment-elon.png");
  background-size: 100% 100%;
  font-family: 'cinnamon';
}

.hourglass {
  animation: spinHourglass 3s infinite;
}

.tool-item img{
  filter: brightness(1.25);
}

.tool-item:hover img {
  animation: animateMan 2s infinite;
}

.hat{
  opacity: 0;
}

.man-ouss:hover > .hat {
  animation: animateHat 3s ease-in infinite;
}

.font-alkatra{
  font-family: 'alkatra';
}

@keyframes spinHourglass {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateHat {
  0% {transform: translateY(-20px); opacity: 0;}
  50% {transform: translateY(0px); opacity: 1;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes animateMan {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

@font-face {
  font-family: 'griphite';
  src: url('/fonts/griphite/GriphitePersonalUse-D4X9.ttf');
}

@font-face {
  font-family: 'quebecks';
  src: url('/fonts/quebecks/Quebecks-rgX4L.ttf');
}

@font-face {
  font-family: 'cinnamon';
  src: url('/fonts/cinnamon/CinnamonCoffeCake-Ea2Pr.ttf');
}

@font-face {
  font-family: 'alkatra';
  src: url('/fonts/alkatra/Alkatra-VariableFont_wght.ttf');
}

